
h1 {
  font-size: 84px;
}

div.sections {

}

div.sections section:first-child {
  margin-top: 40px;
}

div.sections section {
  margin-top: 60px;
}

div.middle {
  width: 940px;
  margin: 0pt auto;
}

div.steps {
  box-sizing: border-box;
}

div.steps div.step {
  float: left;
  width: 200px;
  text-align: center;
}

div.steps div.arrow {
  float: left;
  width: 120px;
}

.signup_box {
  margin-top: 20px;
  margin-bottom: 20px;

  padding-top: 20px;
  padding-bottom: 20px;

  background: #F8F8F8;
}

.signup_box form {
  margin: 0px;
}

.signup_box input.input-xlarge {
  padding: 8px 14px 9px;
}

div.contact {
  padding-top: 10px;
  font-color: #666;

  text-align: center;
}


div.benefits > div {
  box-sizing: border-box;

  background: #F8F8F8;
  padding: 20px;

  min-height: 150px;

}

div.more > div {
  box-sizing: border-box;

  background: #F8F8F8;
  padding: 20px;

  min-height: 150px;

}